{% extends "base.html" %}

{% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'createevent.css' %}">
{% endblock head %}

{% block content %}

<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'serviceeventlist' %}">Back</a>

<div>


<form action="" method="post">
    <h1>Create Event</h1>
    {% csrf_token %}
    {{ form.as_p }}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Submit">
</form>
</div>
{% endblock content %}